* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

.max-width-wrapper { 
  margin: 0 auto;
  max-width: 600px;
}

.intro-chunk { 
  padding-top: 38px;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 38px;
}

.intro-chunk strong { 
  color: green;
}

.intro-chunk h1 { 
  margin-bottom: 28px;
}

main { 
  border-top: 8px solid #999999;
  background-color: #666666;
  padding-top: 48px;
  padding-bottom: 48px;
}

.indented-heading { 
  background-color: #ffbd00;
  border-bottom: solid 6px #cc9902;
  padding: 10px 20px;
  font-size: 1.225rem;
  width: fit-content;  
  margin-left: -26px;
  margin-top: 4px;
}

.card { 
  padding-top: 2px;
  background-color: white;
  border-bottom: 8px solid #999999;
  padding-left: 20px;
  padding-right: 20px;
}